logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# intellij idea files
.idea_modules
.idea
/*.iml
/bin/
.cache-main
.cache-tests
/templates
build/
.gradle
*.monitrc
conf/version.conf
public/lib
scripts/releases/migration_*.sh
*.sc
.DS_Store
server/public/lib
.bsp/
NOTICE
LICENSE